/* styles.css */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #007bff; /* Color principal de Bootstrap */
}

footer {
    background-color: #343a40; /* Color oscuro de Bootstrap */
}

.card {
    margin-bottom: 1rem;
}